*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: ;
}
/*header*/
.header{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    z-index: 10;
}
/* hero */
.hero{
    min-height: 100vh;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}